
.main{
    display: flex;
    justify-content: space-around;
}
.main-1{
    width: 45%;
    border: 1px solid black;
    box-shadow: 10px 0px 10px  3px rgb(119, 107, 107);
}
.main-1 .nav-1{
    background-color: black;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    height: 2%;
}
.main-1 .nav-1 i{
    border-radius: 50%;
    color: rgb(148, 135, 135);
    margin: 15px 3px;

}
.main-1 .nav-1 .fa-phone{
    color:chartreuse;
    margin-left: 40px;
}
.main-1 .nav-1 .phone{
    color: white;
}
.main-1 .nav-1 button{
    background-color: chartreuse;
    color: black;
    padding: 7px;
    margin: 7px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.main-1 .nav-1 button:hover{
    background-color: rgb(231, 166, 45);
}
.main-1 .nav-1 .fa-bars{
    display: none;
    margin: 0;
}
.main-1 .nav-2{
    display: flex;
    justify-content: space-between;
    height: 2%;
}
.main-1 .nav-2 i{
    display: none;
}
.main-1 .nav-2 img{
    height: 55px;
    padding: 5px;
}
.main-1 .nav-2 .about{
    margin: 20px 0;
    padding: 0;
    height: 37px;
    width: 20%;
    transition: 0.3 ease-in-out;
}
.main-1 .nav-2 .about:hover{
    font-weight: bold;
    border-bottom: 4px solid orange;
    cursor: pointer;
}
.main-1 .img{
    background-image: url("https://i.pinimg.com/736x/63/85/a8/6385a88e69a91c5421230eb33557e2c3.jpg");
    background-size: cover;
    height: 12%;
}
.main-1 .img h1{
    text-align: center;
    color: white;
    padding: 30px;
}
.main-1 .img p{
    color: white;
    text-align: center;
}
.main-1 .img button{
    background-color: orange;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 30px;
    width: 100px;
    position: absolute;
    left: 22.5%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 5px rgb(236, 157, 8);
}

.main-1 .advantages{
    height: 18%;
}
.main-1 .advantages h1{
    text-align: center;
}
.main-1 .advantages span{
    color: rgb(122, 207, 36);
}
.main-1 .advantages p{
    text-align: center;
    padding: 0 25px;
    color: rgb(160, 157, 157);
}
.main-1 .advantages i{
    color: rgb(95, 148, 16);
    background-color: rgb(233, 227, 227);
    border-radius: 50%;
    padding: 15px;
    margin-left: 8px;
}
.main-1 .advantages .advatages-icons{
    display: flex;
    justify-content: space-around;
}
.main-1 .advantages .advatages-icons h4{
    text-align: center;
}
.main-1 .about-us{
    background-image: url("https://cdn.pixabay.com/photo/2014/02/16/06/46/abstract-267046__340.png");
    background-size: cover;
    border: 1px solid rgb(139, 125, 125);
    height: 24%;
}
.main-1 .about-us h1{
    text-align: center;
}
.main-1 .about-us span{
    color: rgb(122, 216, 28);
}
.main-1 .about-us-img{
    display: flex;
}
.main-1 .about-us-img p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}
.main-1 .about-us-img button{
    margin: 10px;
    padding: 7px;
    background-color: orange;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(224, 151, 16);
    border: none;
}
.main-1 .about-us-img img{
    width: 200px;
    height: 200px;
}
.main-1 .services{
    height: 16.7%;
}
.main-1 .service-boxs{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main-1 .services h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-1 .services span{
    color: rgb(105, 189, 22);
}
.main-1 .services p{
    text-align: center;
    padding: 0 20px;
    color: rgb(129, 119, 119);
}
.main-1 .service-boxs .box{
    width: 18%;
    background-color: rgb(228, 208, 208);
    padding: 10px;
    margin:  10px 10px;
    position: relative;
}
.main-1 .service-boxs .box .star{
    background-color: orange;
    color: red;
    width: 30px;
    text-align: center;
    padding: 10px 0;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    bottom: 200px;
}
.main-1 .service-boxs .box h5{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-1 .service-boxs .box p{
    color: rgb(138, 122, 122);
}
.main-1 .service-boxs .box a{
    color: rgb(124, 187, 29);
    text-align: center;
    font-weight: bolder;
}
.main-1 .portfolio{
    background-color: black;
    height: 21%;
}
.main-1 .portfolio h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 10px;
}
.main-1 .portfolio span{
    color: rgb(115, 209, 20);
}
.main-1 .portfolio p{
    color: rgb(145, 127, 127);
    text-align: center;
    padding: 0px 20px;
}
.main-1 .portfolio .list{
    display: flex;
    justify-content: space-around;
    width: fit-content;
}
.main-1 .portfolio .list div{
    color: white;
    /* padding: 10px; */
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s ease-in-out;
    height: 20px;
    width: 7%;
}
.main-1 .portfolio .list div:hover{
    color: orange;
    cursor: pointer;
}
.main-1 .portfolio img{
    padding: 25px;
    width: 90%;
}

/* MAIN-2 */
.main-2{
    width: 45%;
    border: 1px solid black;
    box-shadow: 10px 0px 10px  3px rgb(119, 107, 107);
    padding: 0;
    margin: 0;
}
.main-2 .process{
    height: 17%;
    width: 100%;
}
.main-2 .process h1{
    text-align: center;
    margin: 0;
}
.main-2 .process span{
    color: rgb(109, 196, 22);
}
.main-2 .process p{
    text-align: center;
    padding: 0 20px;
    color: rgb(158, 139, 139);
}
.main-2 .icons{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 20px auto;
}
.main-2 .process .icons .num{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* padding: 17px; */
    border: 2px solid rgb(158, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
    padding: 10px;
}
.main-2 .process .icons .num i{
    color: rgb(95, 148, 16);
    /* border-radius: 50%; */
    font-size: 50px;
    /* width: 70px;
    height: 70px; */
    /* padding: 30px; */
    text-align: center;
    /* margin-left: 10px; */
}
.main-2 .process .icons .num p{
    background-color: orange;
    color: black;
    font-weight: bolder;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    /* bottom: 75px; */
}
 .main-2 .icons .num::after{
    content: "";
    position: absolute;
    margin: auto;
    height: 4px;
    width: 15px;
    background-color:rgb(158, 139, 139);
    top: 45%;
    right: -15px;

}
.main-2 .icons .num:last-child::after{
    display: none;
}
.main-2 .process .text{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.main-2 .process .text h4{
    text-align: center;
}
.main-2 .process .text p{
    padding: 0;
    margin: 0;
}
.main-2 .people{
    background-color: rgb(226, 216, 216);
    border-top: 2px solid rgb(146, 133, 133);
    height: 22%;
}
.main-2 .people .flex ,.main-2 .people .profile{
    display: flex;
}
.main-2 .people h1{
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}
.main-2 .people p{
    color: rgb(114, 102, 102);
    text-align: center;
    padding: 10px 20px;
}
.main-2 .people span{
    color: rgb(84, 153, 15);
}
.main-2 .people .profile i{
    background-color: white;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 20px 0;
    margin-left: 20px;
}
.main-2 .people .profile h4{
    margin-left: 20px;
}
.main-2 .people .profile p{
    margin-left: 20px;
    padding: 0;
    color: black;
    text-align: left;
}

.main-2 .skills{
    height: 18%;
    width: 100%;
}
.main-2 .skills .non{
    display: none;
}
.main-2 .skills h1{
    text-align: center;
    padding: 5px 15px;
}
.main-2 .skills span{
    color: rgb(117, 214, 21);
}
.main-2 .skills p{
    padding: 0px 40px;
    text-align: center;
    color: rgb(134, 120, 120);
}
.main-2 .skills .percentage-circle{
    display: flex;
    justify-content: space-around;
}
.main-2 .skills .percent{
    position: relative;
    /* left: 40px; */
    top: 30px;
    width: 25%;
    height: 25%;
}
.main-2 .skills .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.main-2 .skills .percent svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.main-2 .skills .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: rgb(221, 212, 212);
    
}
.main-2 .skills .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 60 / 100));
    stroke: red;
    
}
.main-2 .skills .percent .number{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
.main-2 .skills .percent .number h2{
    font-size: 44px;
}
.main-2 .skills .percent .number span{
    font-size: 24px;
    color: red;
}

.main-2 .skills .percent-2{
    position: relative;
    /* left: 40px; */
    top: 30px;
    width: 25%;
    height: 25%;
}
.main-2 .skills .percent-2 svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.main-2 .skills .percent-2 svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.main-2 .skills .percent-2 svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: rgb(221, 212, 212);
    
}
.main-2 .skills .percent-2 svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 75 / 100));
    stroke: skyblue;
    
}
.main-2 .skills .percent-2 .number-2{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
}
.main-2 .skills .percent-2 .number-2 h2{
    font-size: 44px;
}
.main-2 .skills .percent-2 .number-2 span{
    font-size: 24px;
    color: skyblue;
}

.main-2 .skills .percent-3{
    position: relative;
    /* left: 40px; */
    top: 30px;
    width: 25%;
    height: 25%;
}
.main-2 .skills .percent-3 svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.main-2 .skills .percent-3 svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.main-2 .skills .percent-3 svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: rgb(221, 212, 212);
    
}
.main-2 .skills .percent-3 svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80 / 100));
    stroke: black;
    
}
.main-2 .skills .percent-3 .number-3{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.main-2 .skills .percent-3 .number-3 h2{
    font-size: 44px;
}
.main-2 .skills .percent-3 .number-3 span{
    font-size: 24px;
    color: black;
}
.main-2 .skills .name{
    display: flex;
    justify-content: space-around;
}
.main-2 .skills .name div{
    margin-top: 50px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-2 .project{
    background-color: rgb(130, 212, 6);
    margin: 0;
    padding: 20px 0;
    height: 10%;
}
.main-2 .project h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
}
.main-2 .project input{
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    margin: 0 5px;

}
.main-2 .project div{
    margin: 0 40px;
    padding: 20px 0;
}
.main-2 .project button{
    background-color: orange;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0px 3px 5px rgb(236, 157, 8);

}
.main-2 .project p {
    text-align: center;
    padding: 0px 20px;
    color: white;
}

.main-2 .location{
    background-image: url("");
    background-size: cover;
    height: 17%;
}
.main-2 .location h1{
    margin: 0;
    text-align: center;
}
.main-2 .location span{
    color: rgb(118, 184, 20);
}
.main-2 .location p {
    padding: 20px;
    text-align: center;
    color: rgb(119, 108, 108);
    margin: 0;
}
.main-2 .location i{
    color: rgb(112, 201, 23);
    line-height: 30px;
    margin-left: 50px;
}
.main-2 .location .fa-sharp{
    margin-left: 100px;
}
.main-2 .location img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-2 .footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(67, 124, 10);
    margin: 0;
    padding: 0;
    height: 13%;
    color: white;
}
.main-2 .footer .f-1 img{
    margin: 0;
    width: 100px;
    height: 50px;
    padding: 20px;
}
.main-2 .footer .f-1 p{
    padding: 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-2 .footer .f-1 h5{
    padding: 0 20px;
    font-family: 'Times New Roman', Times, serif;
}
.main-2 .footer .f-2{
    padding: 0px 30px;
    border-right: 2px solid white;
}
.main-2 .footer .f-2 div{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
}
.main-2 .footer .f-3{
    padding: 0 40px;
}
.main-2 .footer .f-3 div{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;

}
.main-2 .footer .f-3 i{
    color: black;
}

@media (max-width:1350px){
    .main-2 .process .icons .num i{
        font-size: 30px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:768px){
    .main{
        display: block;
    }
    .main-1{
        width: 100%;
    }
    .main-1 .phone , .main-1 .nav-1 button{
        display: none;
    }
    .main-1 .nav-1 .fa-bars{
        display: block;
        padding: 5px 15px;
        color: white;
    }
    .main-1 .nav-1 i{
        color: white;
    }
    .main-1 .nav-2 .about{
        display: none;
    }
    .main-1 .nav-2 i{
        display: block;
        padding: 15px 15px;
    }
    .main-1 .img{
        height: 20%;
    }
    .main-1 .img h1{
        padding: 0;
    }
    .main-1 .img button{
        display: none;
        position: absolute;
        left: 40%;
    }
    .main-1 .advantages i{
        display: none;
    }
    .main-1 .advantages .advatages-icons{
        display: block;
    }
    .main-1 .about-us img{
        display: none;
    }
    .main-1 .service-boxs{
        display: block;
    }
    .main-1 .service-boxs .box{
        width: 80%;
        margin: 10px auto;
    }
    .main-1 .service-boxs .box .star{
        display: none;
        position: absolute;
        left: 150px;
        bottom: 130px;
    }
    .main-1 .portfolio .list{
        display: none;
    }
    .main-1 .portfolio img{
        width: 90%;
        padding: 10% 5%

    }
    .main-2{
        width: 100%;
    }
    .main-2 .process .icons{
        display: none;
    }
    .main-2 .process{
        height: 800px;
    }
    .main-2 .process h1{
        padding: 20px 0;
    }
    .main-2 .process .text{
        display: block;
    }
    .main-2 .process .text h4{
        font-size: 30px;
        width: 100%;
    }
    .main-2 .process .text p{
        width: 100%;
    }
    .main-2 .people{
        height: 10%;
    }
    .main-2 .people .flex{
        display: block;
    }
    .main-2 .skills{
        height: 770px;
    }
    .main-2 .skills .percentage-circle{
        display: block;
        margin-left:40%;
    }
    .main-2 .skills .percentage-circle .percent-2{
        margin: 40px 0;
    }
    .main-2 .skills .percentage-circle .non{
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    .main-2 .skills .name{
        display: none;
    }
    .main-2 .project{
        height: 430px;

    }
    .main-2 .project div{
        display: block;
    }
    .main-2 .project input{
        width: 80%;
        margin: 10px 10%;
    }
    .main-2 .project button{
        width: 50%;
        margin: 10px 25%;
    }
    .main-2 .location{
        display: block;
        margin: 0;
        padding: 0;
    }
    .main-2 .location i{
        margin-left: 0;
        text-align: center;
    }
    .main-2 .location .fa-sharp{
        margin-left: 0;
        text-align: center;
    }
    .main-2 .footer{
        display: block;
    }
    .main-2 .footer .f-1 img{
        width: 100%;
        height: 100px;
        padding: 0;
        margin-top:30px;
    }
    .main-2 .footer h4{
        color: rgb(23, 214, 214);
    }
}



